body {
    margin: 0;
    padding: 0;
    font: 16px/1.2 Arial, sans-serif;
}

.player {
    margin-bottom: 20px;
}

.field {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.field__cell {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    float: left;
    border: 1px solid #333;
}