body {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font: 16px/1.2 Arial, sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
}

.players {
    overflow: hidden;
    margin: 40px 0;
}

.players__X {
    float: left;
}

.players__O {
    float: right;
}

.player {
    width: 130px;
    font-size: 30px;
    margin-bottom: 20px;
    border-bottom: 5px solid transparent;
}

.player_active {
    border-bottom-color: #FFC107;
}

.player__name {
    font-size: 40px;
    font-weight: bold;
}

.player__name_X {color: #F44336;}
.player__name_O {color: #4CAF50;}


.field {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.field_win:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 5px;
    background-color: #FFC107;
}

.field_win-row-1:after,
.field_win-row-2:after,
.field_win-row-3:after {
    width: 100%;
    margin-top: -3px;
}
.field_win-row-1:after {top: 17%;}
.field_win-row-2:after {top: 50%;}
.field_win-row-3:after {top: 83%;}

.field_win-col-1:after,
.field_win-col-2:after,
.field_win-col-3:after {
    height: 100%;
    margin-left: -3px;
}
.field_win-col-1:after {left: 17%;}
.field_win-col-2:after {left: 50%;}
.field_win-col-3:after {left: 83%;}

.field_win-diagonal-1:after {
    width: 150%;
    transform-origin: 0 0;
    transform: rotate(45deg);
}

.field_win-diagonal-2:after {
    width: 150%;
    transform-origin: 100% 0;
    transform: rotate(-45deg);
    left: auto;
    right: 0;
}

.field__cell {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    float: left;
    border-right: 2px solid #9E9E9E;
    border-bottom: 2px solid #9E9E9E;
    text-align: center;
    font-size: 100px;
    line-height: 150px;
    color: red;
    user-select: none;
}

.field__cell:nth-child(3n) {
    border-right: medium none;
}

.field__cell:nth-child(6) ~ .field__cell {
    border-bottom: medium none;
}

.field__cell_X {color: #F44336;}
.field__cell_O {color: #4CAF50;}

.actions {
    margin: 50px 0;
    text-align: center;
}
