body {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font: 16px/1.2 Arial, sans-serif;
}

.container {
    max-width: 1200px;
    min-width: 500px;
    padding: 0 50px;
    margin: 0 auto;
}

.players {
    overflow: hidden;
    margin-bottom: 40px;
}

.players__X {
    float: left;
}

.players__O {
    float: right;
}

.player {
    background-color: #fff;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;
    border-top: medium none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 0px #000;
    text-align: center;
    font-size: 100px;
    line-height: 150px;
    transition: all 0.3s ease 0s;
}

.player.active {
    background-color: #2196F3;
    border-color: #fff;
    color: #fff;
}

.field {
    width: 462px;
    height: 462px;
    margin: 50px auto;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.field__cell {
    background-color: #fff;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 0px #000;
    margin: 2px;
    float: left;
    text-align: center;
    font-size: 100px;
    line-height: 150px;
    color: #fff;
    user-select: none;
    transition: all 0.3s ease 0s;
}

.field__cell.color-X, .field__cell.color-O {
    transform: rotateY(180deg);
}

.field__cell.win {
    background-color: #2196F3;
    border-color: #fff;
    color: #fff;
}

.actions {
    margin: 50px 0;
    text-align: center;
}

.button {
    background: #2196F3;
    border: 1px solid #fff;
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font: 16px/40px Arial, sans-serif;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.button:focus {
    outline: none;
}

.button:hover {
    background-color: #1565C0;
}

.button:active {
    background-color: #0D47A1;
    box-shadow: none;
}

.color-X {color: #F44336;}
.color-O {color: #4CAF50;}
